{{!-- This #if is a helper to evaluate if the variable or expression exists --}}
{{#if data.image}}
<img class="hero img-fluid" src="{{data.image}}" alt="">
{{/if}}
<h1 class="primary-heading">{{data.title}}</h1>
<p class="abstract">{{data.abstract}}</p>