{{!-- This #if is a helper to evaluate if the variable or expression exists --}}
{{#if image}}
<img class="hero img-fluid" src="/images/{{image}}" alt="">
{{/if}}
<h1 class="primary-heading">{{title}}</h1>
<p class="abstract">{{abstract}}</p>