<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{!-- Import css styles --}}
    <link rel="stylesheet" href="/css/bootstrap.css">
    {{!-- Overrides go last --}}
    <link rel="stylesheet" href="/css/miami.css">
</head>
<body>
   {{!-- Include a partial --}}
   {{>nav siteName="Miami Travel Site" date="10/03/2024"}}
    {{!-- Default placeholder for handlebars --}}
   <div class="container">
   
   {{{body}}}

    {{>gallery}}
    </div>

    <script src="/js/bootstrap.bundle.js"></script>
</body>
</html>